<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  id="WebApp_ID" version="2.5">

  <display-name>SMSGCM server for SMSGCM devices</display-name>

  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.RegisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.UnregisterServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/unregister</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.HomeServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.MessageServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/messages</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.SendMessageServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/sendMessage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ReceiveMessageServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.ReceiveMessageServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReceiveMessageServlet</servlet-name>
    <url-pattern>/receiveMessage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QueuedMessagesServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.QueuedMessagesServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>QueuedMessagesServlet</servlet-name>
    <url-pattern>/queuedMessages</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DumpMessagesServlet</servlet-name>
    <servlet-class>
      com.omgren.apps.smsgcm.server.DumpMessagesServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>DumpMessagesServlet</servlet-name>
    <url-pattern>/dumpMessages</url-pattern>
  </servlet-mapping>

</web-app>
